<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
    <appSettings>
      <!-- 软信一通服务号 -->
      <!-- URL对接信息 -->
      <add key="WeixinToken" value="Token" />
      <add key="WeixinEncodingAESKey" value="bp9YiKpiU3OSj1WoL9qLcm3ia1zEV14H9nJVMQsM0Pi" />
      <!-- 高级接口信息 -->
      <add key="WeixinAppId" value="wx7219813f8df847bd" />
      <add key="WeixinAppSecret" value="fc18d9f51eef170cc6f2bcb5ce75bd19" />

    </appSettings>

    <connectionStrings>
      <add name="SQLConnString" connectionString="Data Source = bds269994118.my3w.com;Initial Catalog = bds269994118_db;User Id = bds269994118;Password = china881108;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
